/*SIDEBAR*/
.sideBar h1 {
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size: 50px;
}

.sideBar a {
  font-family: 'Khula', sans-serif;
}


/*HOMEPAGE SLIDER*/

div#slider{
max-width:800px;
  height: 400px;
position:absolute;
overflow:hidden;
}
img{
float:left;
}
figure#imagestrip{
position:absolute;
width:500%;
margin:0;
top:0;
left:0;
}
figure#imagestrip img{
float:left;
width:20%;
}
@keyframes slider {
  0% {left: -500;}
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
figure{
position:absolute;
width:500%;
margin:0;
top:0;
left:0;
/*animation*/
-webkit-animation:20s slider ease-in-out infinite;
   -moz-animation:20s slider ease-in-out infinite;
    -ms-animation:20s slider ease-in-out infinite;
     -o-animation:20s slider ease-in-out infinite;
        animation:20s slider ease-in-out infinite;
}

/*SEARCH BOX*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 220px;
}

/*MOOD BUTTON HOVER*/
.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        margin-left: 20px;
}

/*MOVIE GRID*/
.MOVIE-GRID {
  margin-left: -38px; 
}
