/*Logo Colour*/
nav .brand-logo {
  color: #444;
}

body {
	background: url(../images/background.png);
	background-repeat: repeat;
}


/*Thumbs Style*/
.mood img {
	position: relative;
    width: 250px;
    float:left;
    height: 200px;
    z-index: -1;
    padding: 0;
    vertical-align: text-bottom;
    margin-bottom: 20px;
    margin: 10px;
}

.mood p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: red;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  font-size: 150%;
  transform: translateY(-75px);
}

.mood:hover {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0px;
}

